DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
OWNER_ID=

LAVALINK_HOST=lavalink
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false

# AI Configuration
HF_TOKEN=
OLLAMA_API_KEY=
OLLAMA_MODEL=gpt-oss:120b-cloud
OLLAMA_VISION_MODEL=llava
SERPER_API_KEY=

# Valorant Token Encryption Key (AES-256)
# If left empty, DISCORD_TOKEN will be used as a fallback seed.
ENCRYPTION_KEY=
